## R project stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron 

# Any .tmp folders (for overflow files)
.tmp/

# Temporary Excel files
**/~$*.xlsx
**/~$*.xls
**/~$*.xlsm
**/~$*.xlsb

# HTML Files
*.html

# VS code configurations
.vscode/settings.json